<!DOCTYPE html>
<html>
  <head>
<title>NYAN NYAN NYAN NYAN</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="http://nyan-cat.com/images/nyan-cat.gif" />
<script type="text/javascript">
function init(){
}
</script>
<style type="text/css">
body{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:#FFFFFF;
	background-color:#666666;
    margin: 0;
}
</style>
  </head>
  <body onload="init();">
    <%= yield %>
  </body>
</html>
