<script type="text/javascript">
function random(x){
    return Math.floor(Math.random()*x);
}
function randomList(n){
    var i,j;
    a = [];
    for(i=0; i<n; i++) a.push(0);
    for(i=0; i<n; i++){
        j = random(n);
        while(a[j]!=0) j = random(n);
        a[j] = 1+i;
    }
    return a;
}
var c,ctx;
function init(){
    c = document.getElementById("c");
    ctx = c.getContext("2d");
    c.width = window.innerWidth-20;
    c.height = window.innerHeight-50;
    window.onresize = function(){
        c.width = window.innerWidth-20;
        c.height = window.innerHeight-50;
    }
    fps = 60;
    c.scene = {};
    c.scene.curX = 0;
    c.scene.curY = 0;
    c.scene.mouseClick = false;
    c.scene.mouseDown = false;
    c.addEventListener('mousemove', function (e) {
        c.scene.curX = e.clientX;
        c.scene.curY = e.clientY;
    });
    c.addEventListener('mousedown', function (e) {
        c.scene.mouseClick = true;
        c.scene.mouseDown = true;
    });
    c.addEventListener('touchmove', function (e) {
        c.scene.curX = e.pageX;
        c.scene.curY = e.pageY;
        c.scene.mouseClick = true;
        c.scene.mouseDown = true;
    });
    start();
	loop();
}

var arr;
var selX,selY;
var isEnabled;
var isGuess;
var guesses;
function random(x){
    return Math.floor(Math.random()*x);
}
function start(){
    var i,j;
    MyObject.objects = [];
    MyObject.lastId = 0;
    for(i=0; i<32; i++){
    MyObject.objects.push(new MyObject(45+random(370),45+random(370),
    1+random(3),1+random(3)));
    do{
		MyObject.objects[MyObject.lastId-1].x=45+random(370);
		MyObject.objects[MyObject.lastId-1].y=45+random(370);
    }while(MyObject.objects[MyObject.lastId-1].isCollides());
}
}

function GObject(){
    this.initialize.apply(this, arguments);
}
	GObject.prototype.initialize=function(x,y,dx,dy,xscale,yscale){
	this.type="object";
	this.x=x || 0;
	this.y=y || 0;
	this.dx=dx || 0;
	this.dy=dy || 0;
	this.xscale=xscale || 1;
	this.yscale=yscale || 1;
	this.spd=Math.sqrt(this.dx*this.dx+this.dy*this.dy);
	this.dir=(Math.atan2(-this.dy,this.dx) || 0)*180/Math.PI;
	}
	GObject.prototype.getWidth=function(){
		return 0;
	}
	GObject.prototype.getHeight=function(){
		return 0;
	}
	GObject.prototype.setspd=function(spd){
	this.dx=this.dx || 1;
	this.spd=this.spd || spd;
	this.dx=this.dx*spd/this.spd;
	this.dy=this.dy*spd/this.spd;
	this.spd=spd;
	}
	GObject.prototype.setdir=function(dir){
	this.dx=this.spd*Math.cos(Math.PI/180*this.dir);
	this.dy=-this.spd*Math.sin(Math.PI/180*this.dir);
	this.dir=dir;
	}
	GObject.prototype.update=function(){
		this.x=this.x+this.dx;
		this.y=this.y+this.dy;
	this.spd=Math.sqrt(this.dx*this.dx+this.dy*this.dy);
	this.dir=(Math.atan2(-this.dy,this.dx) || 0)*180/Math.PI;
	}
	GObject.prototype.draw=function(){
	}

function MyObject(){
    this.initialize.apply(this, arguments);
}
MyObject.objects = [];
MyObject.lastId = 0;
MyObject.prototype = Object.create(GObject.prototype);
MyObject.prototype.constructor = MyObject;
	MyObject.prototype.initialize=function(x,y,xscale,yscale,dx,dy){
	GObject.prototype.initialize.apply(this, arguments);
	this.type="myobject";
    this.id=MyObject.lastId;
    MyObject.lastId++;
	}
	MyObject.prototype.getWidth=function(){
		return 16*this.xscale;
	}
	MyObject.prototype.getHeight=function(){
		return 16*this.yscale;
	}
	MyObject.prototype.isCollide=function(theObject){
    if(this.id!=theObject.id){
		return (this.x-theObject.x)*(this.x-theObject.x)+
        (this.y-theObject.y)*(this.y-theObject.y)<
        (this.getWidth()/2+theObject.getWidth()/2)*
        (this.getWidth()/2+theObject.getWidth()/2);
    }
		return false;
	}
	MyObject.prototype.isCollides=function(){
		var isCol=false;
    for(var i in MyObject.objects){
    isCol=isCol || this.isCollide(MyObject.objects[i]);
    }
		return isCol;
	}
	MyObject.prototype.update=function(){
    for(var i in MyObject.objects){
    if(this.isCollide(MyObject.objects[i])){
		var dist=Math.sqrt((this.x-MyObject.objects[i].x)*
        (this.x-MyObject.objects[i].x)+(this.y-MyObject.objects[i].y)*
        (this.y-MyObject.objects[i].y));
		this.x=MyObject.objects[i].x+(this.x-MyObject.objects[i].x)*
        (this.getWidth()/2+MyObject.objects[i].getWidth()/2)/dist;
		this.y=MyObject.objects[i].y+(this.y-MyObject.objects[i].y)*
        (this.getWidth()/2+MyObject.objects[i].getWidth()/2)/dist;
		var thedir=(Math.atan2(this.y-MyObject.objects[i].y,
        MyObject.objects[i].x-this.x) || 0)*180/Math.PI+90;
		this.setdir(2*thedir-this.dir);
    }
    }
    if(this.x-this.getWidth()/2<32){
		this.x=32+this.getWidth()/2;
		this.dx=-this.dx;
    }
    if(this.x+this.getWidth()/2>416){
		this.x=416-this.getWidth()/2;
		this.dx=-this.dx;
    }
    if(this.y-this.getHeight()/2<32){
		this.y=32+this.getHeight()/2;
		this.dy=-this.dy;
    }
    if(this.y+this.getHeight()/2>416){
		this.y=416-this.getHeight()/2;
		this.dy=-this.dy;
    }
	GObject.prototype.update.apply(this, arguments);
	}
	MyObject.prototype.draw=function(){
    ctx.strokeStyle = "#FFFFFF";
    ctx.fillStyle = "#cccccc";
    ctx.lineWidth = 1;
ctx.beginPath();
ctx.arc(this.x,this.y,this.getWidth()/2,0,2*Math.PI);
ctx.stroke();
    ctx.fill();
	GObject.prototype.draw.apply(this, arguments);
	}
function checkCur(x,y,w,h){
    return c.scene.curX>=x && c.scene.curX<x+w &&
        c.scene.curY>=y && c.scene.curY<y+h;
}
var delay = 1;
function update(){
    var i,j,p,q;
    if(c.scene.mouseClick){
		c.scene.mouseClick = false;
        if(checkCur(32,32,288,288)){
    	}
    }
    for(var i in MyObject.objects){
    MyObject.objects[i].update();
    }
}

function clear(){
    ctx.fillStyle = "#666666";
    ctx.fillRect(0,0,c.width,c.height);
}
function drawScr(){
    var i,j,p,q;
    i=0;j=0;
    ctx.fillStyle = "#999999";
    ctx.fillRect(32+selX*32,32+selY*32,32,32);
    ctx.strokeStyle = "#FFFFFF";
    ctx.lineWidth = 4;
    ctx.strokeRect(32,32,384,384);
    ctx.font = "16pt Trebuchet MS";
    ctx.textAlign = "center";
    ctx.fillStyle = "#FFFFFF";
    ctx.fillText(0,48+j*32,56+i*32);
    for(i=0; i<9; i++){
        for(j=0; j<9; j++){
        }
    }
}
function draw(){
    clear();
    for(var i in MyObject.objects){
    MyObject.objects[i].draw();
    }
    drawScr();
    for(var obj in c.scene){
        if(c.scene[obj].type=="nyan" || c.scene[obj].type=="star"){
            //c.scene[obj].draw();
        }
    }
}

function loop(){
    update();
    draw();
    setTimeout(loop,1000/fps);
}
</script>
<canvas id="c">Your browser does not support the canvas element.</canvas>
<div>by Alissa Liu v1.01 [<a href="http://flashindo.forumotion.net">Flashindo - Akademi Pembuat Flash</a>]</div>
